---
clustered:
  hosts:
{% for node in private_dns_names %}
    {{ node.dns }}:
      amq_broker_instance_name: {{ node.name }}
      amq_broker_cluster_connections:
{% for cluster_node in private_dns_names %}
{% if node.name != cluster_node.name %}
      - name: {{ cluster_node.name }}
        value: tcp://{{ node.dns }}:61616
{% endif %}
{% endfor %}
      amq_broker_connectors:
{% for broker_node in private_dns_names %}
{% if node.name == broker_node.name %}
      - name: artemis
        scheme: tcp
        address: {{ broker_node.dns }}
        port: 61616
{% endif %}
{% endfor %}
{% for broker_node in private_dns_names %}
{% if node.name != broker_node.name %}
      - name: {{ broker_node.name }}
        scheme: tcp
        address: {{ broker_node.dns }}
        port: 61616
{% endif %}
{% endfor %}
{% endfor %}
