---
federated:
  vars:
    ansible_ssh_private_key_file: ec2_keypair.pem
  hosts:
{% for node in create_vpc_private_dns_names %}
    {{ node.dns }}:
      amq_broker_instance_name: {{ node.name }}
      amq_broker_connectors:
{% for broker_node in create_vpc_private_dns_names %}
{% if node.name == broker_node.name %}
        - name: artemis
          scheme: tcp
          address: {{ broker_node.dns }}
          port: 61616
{% endif %}
{% endfor %}
{% for broker_node in create_vpc_private_dns_names %}
{% if node.name != broker_node.name %}
        - name: {{ broker_node.name }}
          scheme: tcp
          address: {{ broker_node.dns }}
          port: 61616
{% endif %}
{% endfor %}
      amq_broker_federations:
        - name: {{ node.name }}-federation
          upstreams:
{% for fed_node in create_vpc_private_dns_names %}
{% if node.name != fed_node.name %}
            - name: {{ fed_node.name }}-upstream
              user: amq-broker
              password: amq-broker
              static_connectors:
                - {{ fed_node.name }}
              policies:
                - TEST-policy
{% endif %}
{% endfor %}
          policy_sets:
            - name: TEST-policy
              policies:
                - TEST-federation
          queue_policies:
            - name: TEST-federation
              includes:
                - queue_match: TEST
                  address_match: "#"
{% endfor %}
