---
masterslave:
  hosts:
{% for node in create_vpc_private_dns_names %}
{% if node.name == "amq1" or node.name == "amq2" %}
{% if node.name == "amq1" %}
{% set role = "primary" %}
{% else %}
{% set role = "backup" %}
{% endif %}
    {{ node.dns }}:
      amq_broker_instance_name: {{ node.name }}
      amq_broker_ha_role: {{ role }}
{% endif %}
{% endfor %}
