# shellcheck shell=bash
# venv and creds are created locally, not in the repo
# shellcheck disable=SC1091
source .venv/bin/activate
source scripts/_creds.sh

export ANSIBLE_CONFIG=configure-aws/roles/configure_hosts/files/ansible.cfg
