.idea/*
.vscode/*
.ansible/*

scripts/_creds.sh
scripts/_creds_update_aws_secrets.sh
configure-aws/roles/configure_bootstrap/files/*.pem
configure-aws/roles/configure_bootstrap/files/*.pub
vault-password.sec

inventory/*.yml
configure-aws/inventory/*.yml
