.idea/*

scripts/_creds.sh
configure-aws/roles/configure_bootstrap/files/*.pem
configure-aws/roles/configure_bootstrap/files/*.pub
configure-aws/vault-password.sec

inventory/all.yml
inventory/clustered.yml
inventory/federated.yml
inventory/master-slave.yml
configure-aws/inventory/bootstrap.yml