.idea/*

_creds.sh
configure-aws/configure_bootstrap/files/my_keypair.pem

inventory/all.yml
inventory/clustered.yml
inventory/federated.yml
inventory/master-slave.yml
configure-aws/inventory/bootstrap.yml