---
- name: Create a new EC2 key pair
  amazon.aws.ec2_key:
    region: "{{ create_vpc_region }}"
    name: "{{ ansible_facts['hostname'] }}_keypair"
    file_name: "{{ create_vpc_ec2_keypair }}"
    force: true
    state: present

- name: Change file ownership for key
  ansible.builtin.file:
    path: "{{ create_vpc_ec2_keypair }}"
    mode: "0400"

- name: Encrypt ec2_keypair.pem
  ansible.builtin.copy:
    content: "{{ lookup('ansible.builtin.file', create_vpc_ec2_keypair) | ansible.builtin.vault(SSH_KEY_VAULT_PASS) }}"
    dest: "{{ create_vpc_ec2_keypair }}.enc"
    decrypt: false
    mode: "0400"
