---
- name: Upgrade all packages
  become: true
  ansible.builtin.dnf:
    name: "*"
    state: latest # noqa package-latest
    update_cache: true

- name: Install packages via dnf
  become: true
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: present
  loop:
    - python3.11
    - python3.11-pip
