---
- name: Upgrade all packages
  become: true
  ansible.builtin.dnf:
    name: "*"
    state: latest # noqa package-latest
    update_cache: true

- name: Install packages via dnf
  become: true
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: present
  loop:
    - python3.11
    - python3.11-pip
    - python3.11-lxml

- name: Install packages via pip
  ansible.builtin.pip:
    name: "{{ item }}"
  loop:
    - boto3
    - jmespath
    - ansible-core==2.18.12
