---
- name: Deploy AMQ in master/slave setup
  hosts: masterslave
  gather_facts: true
  vars:
    # AWS
    region: "eu-west-2"
    # Master/Slave Config
    amq_broker_ha_enabled: true
    amq_broker_shared_storage: true
    amq_broker_shared_storage_path: /opt/shared-data
    # HACK: Allows console
    amq_broker_cors_strict_checking: false
    # Basic config
    amq_broker_addresses:
      - name: TEST
        anycast:
          - name: TEST
    amq_broker_acceptors:
      - name: artemis
        bind_address: "0.0.0.0"
        bind_port: "{{ amq_broker_port }}"
        parameters:
          protocols: CORE
      - name: amqp
        bind_address: "0.0.0.0"
        bind_port: "{{ amq_broker_port_amqp }}"
        parameters:
          protocols: AMQP

  pre_tasks:
    - name: Install nfs-utils
      become: true
      ansible.builtin.dnf:
        name: "{{ item }}"
        state: present
      loop:
        - nfs-utils

    - name: Start nfs-utils system.d service
      become: true
      ansible.builtin.systemd_service:
        name: "nfs-utils"
        state: started

    - name: Get EFS volume
      delegate_to: localhost
      community.aws.efs_info:
        region: "{{ region }}"
        tags:
          Name: amq-data
      register: efs_volume

    - name: Ensure EFS volume is mounted
      become: true
      ansible.posix.mount:
        path: /opt/shared-data
        src: "{{ efs_volume.efs[0].filesystem_address }}"
        fstype: nfs4
        opts: nfsvers=4.1,rsize=1048576,wsize=1048576,hard,timeo=600,retrans=2,noresvport
        state: mounted

    - name: Create amq-broker service user
      become: true
      ansible.builtin.user:
        name: amq-broker
        home: /opt/amq/
        system: true
        create_home: false

    - name: Ensure mount directory permissions correct
      become: true
      ansible.builtin.file:
        path: /opt/shared-data
        owner: amq-broker
        group: amq-broker
        state: directory
        mode: '0755'

  tasks:
    - name: Deploy AMQ
      ansible.builtin.import_role:
        name: redhat.amq_broker.amq_broker
