---
- name: Deploy AMQ single broker with custom broker.xml
  hosts: amq1
  gather_facts: true
  vars:
    # Broker template
    amq_broker_config_override_template: templates/broker.xml.j2
    # HACK: Allows console
    amq_broker_cors_strict_checking: false
  roles:
    - redhat.amq_broker.amq_broker
