---
- name: Remove any AMQ installations
  hosts: all
  gather_facts: true
  vars:
    # AWS
    region: "eu-west-2"
  roles:
    - redhat.amq_broker.amq_broker_uninstall

  post_tasks:
    - name: Find files under shared data mount
      become: true
      ansible.builtin.find:
        paths: "/opt/shared-data"
        recurse: true
        file_type: any
      register: shared_data_files

    - name: Remove files under shared data mount
      become: true
      ansible.builtin.file:
        path: "{{ item.path }}"
        state: absent
      loop: "{{ shared_data_files.files }}"
      when: shared_data_files.matched | int > 0

    - name: Get EFS volume
      delegate_to: localhost
      community.aws.efs_info:
        region: "{{ region }}"
        tags:
          Name: amq-data
      register: efs_volume

    - name: Ensure EFS volume is absent
      become: true
      ansible.posix.mount:
        path: "/opt/shared-data"
        src: "{{ efs_volume.efs[0].filesystem_address }}"
        state: absent

    - name: Ensure mount directory doesnt exists
      become: true
      ansible.builtin.file:
        path: "/opt/shared-data"
        state: absent
