name: "Lint the roles"

on: [ push, pull_request ]

# Declare default permissions as read only.
permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: "3.14"
          cache: "pip"

      - name: Setup python deps
        run: |
          pip install -r requirements.txt

      - name: Copy ansible.cfg
        run: cp configure-aws/roles/configure_bootstrap/files/ansible.cfg ~/.ansible.cfg

      - name: Install requirements
        env:
          ANSIBLE_GALAXY_SERVER_AUTOMATION_HUB_TOKEN: ${{ secrets.ANSIBLE_GALAXY_SERVER_AUTOMATION_HUB_TOKEN }}
        run: ansible-galaxy install -r requirements.yml

      - name: Run ansible-lint
        uses: ansible/ansible-lint@36075fad72d67ca74facfb2e5436a2428a4b5d5d # v25

      - name: Tar and Generate hashes
        shell: bash
        id: hash
        run: |
          tar cvf ansible-middleware-playground.tar configure-aws/ inventory/ playbooks/ requirements.yml

          echo "hashes=$(sha256sum ansible-middleware-playground.tar | base64 -w0)" >> "$GITHUB_OUTPUT"

      - name: Upload ansible-middleware-playground.tar
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: ansible-middleware-playground.tar
          path: ansible-middleware-playground.tar
          if-no-files-found: error
          retention-days: 5

    outputs:
      hashes: ${{ steps.hash.outputs.hashes }}

  provenance:
    needs: [ build ]
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      actions: read
      id-token: write
      contents: write
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_generic_slsa3.yml@v2.1.0
    with:
      base64-subjects: "${{ needs.build.outputs.hashes }}"
      upload-assets: true

  release:
    needs: [ build, provenance ]
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    permissions:
      contents: write
    steps:
      - name: Download ansible-middleware-playground.tar
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
        with:
          name: ansible-middleware-playground.tar

      - name: Upload assets to release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          files: |
            ansible-middleware-playground.tar
