name: "Test topologies on release"

on:
  release:
    types: [ published ]
  workflow_dispatch:
    inputs:
      TOPOLOGIES:
        description: 'Comma list of topologies to test e.g. clustered,custom,federated,master-slave'
        default: 'clustered,custom,federated,master-slave'
        required: true
        type: string

# Declare default permissions as read only.
permissions: read-all

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit

      - name: Check TOPOLOGIES not empty
        id: notempty
        env:
          TOPOLOGIES_INPUT: "${{ inputs.TOPOLOGIES }}"
        run: echo "RAW_TOPOLOGIES=${{ env.TOPOLOGIES_INPUT || 'clustered,custom,federated,master-slave' }}" >> $GITHUB_OUTPUT

      - name: Convert comma list to JSON
        id: strategy
        env:
          RAW_TOPOLOGIES: "${{ steps.notempty.outputs.RAW_TOPOLOGIES }}"
        run: |
          echo "TOPOLOGIES=$(echo -n "${{ env.RAW_TOPOLOGIES }}" | jq -csR '. | split(",")')" >> $GITHUB_OUTPUT

    outputs:
      TOPOLOGIES: ${{ steps.strategy.outputs.TOPOLOGIES }}

  test_topology:
    needs: [ validate ]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        topology: ${{ fromJson(needs.validate.outputs.TOPOLOGIES) }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.2

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Setup python deps
        run: |
          pip3 install -r requirements.txt

      - name: Copy ansible.cfg
        run: cp configure-aws/roles/configure_hosts/files/ansible.cfg ~/.ansible.cfg

      - name: Install requirements
        env:
          ANSIBLE_GALAXY_SERVER_AUTOMATION_HUB_TOKEN: ${{ secrets.ANSIBLE_GALAXY_SERVER_AUTOMATION_HUB_TOKEN }}
        run: ansible-galaxy install -r requirements.yml

      - name: Deploy AWS
        id: deploy
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          SSH_KEY_VAULT_PASS: ${{ secrets.SSH_KEY_VAULT_PASS }}
        run: |
          pushd configure-aws

          echo $SSH_KEY_VAULT_PASS > vault-password.sec
          chmod 600 vault-password.sec

          ansible-playbook deploy.yml --skip-tags blank \
            --vault-password-file=vault-password.sec \
            -e SSH_KEY_VAULT_PASS=${SSH_KEY_VAULT_PASS} \
            -e ANSIBLE_GALAXY_SERVER_AUTOMATION_HUB_TOKEN="not-needed"

          echo "bootstrap_dns=$(cat inventory/bootstrap.yml | yq '.bootstrap.hosts' | head -c-2)" >> "$GITHUB_OUTPUT"

          popd

      - name: Deploy ${{ matrix.topology }}
        env:
          RHN_USERNAME: ${{ secrets.RHN_USERNAME }}
          RHN_PASSWORD: ${{ secrets.RHN_PASSWORD }}
          BOOTSTRAP: ${{ steps.deploy.outputs.bootstrap_dns }}
        run: |
          ssh -i configure-aws/roles/configure_bootstrap/files/ec2_keypair.pem ec2-user@${BOOTSTRAP} "
            ansible-playbook -i inventory/${{ matrix.topology }}.yml playbooks/deploy-amq-${{ matrix.topology }}.yml \
              -e rhn_username=${RHN_USERNAME} \
              -e rhn_password=${RHN_PASSWORD}
          "

      - name: Test ${{ matrix.topology }}
        env:
          BOOTSTRAP: ${{ steps.deploy.outputs.bootstrap_dns }}
        run: |
          ssh -i configure-aws/roles/configure_bootstrap/files/ec2_keypair.pem ec2-user@${BOOTSTRAP} "
            ansible-playbook -i inventory/test.yml playbooks/test-amq-${{ matrix.topology }}.yml
          "

      - name: Remove ${{ matrix.topology }}
        if: always()
        env:
          BOOTSTRAP: ${{ steps.deploy.outputs.bootstrap_dns }}
        run: |
          ssh -i configure-aws/roles/configure_bootstrap/files/ec2_keypair.pem ec2-user@${BOOTSTRAP} "
            ansible-playbook -i inventory/all.yml playbooks/remove-amq.yml
          "

      - name: Cleanup runner
        if: always()
        run: make cleanup
